<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <form action="/task/add" method="POST">
    <h3>Add Task</h3>
    <div>
      <label for="title">Write A Title:</label>
      <input
        type="text"
        name="title"
        placeholder="Escribe el titulo de la tarea"
        id="title"
        class="form-control rounded-0 bg-info"
      /></div>

    <div>
      <label for="description">Descriptcion:</label>
      <textarea
        name="description"
        placeholder="description"
        id="description"
        class="form-control rounded-0 bg-info"
      ></textarea></div>
    <button class="btn btn-success btn-sm mt-2">add</button>

  </form>
</div>