<form action="/task/add" method="POST">

  <div>
    <label for="title">Titulo:</label>
    <input
      type="text"
      name="title"
      placeholder="Escribe el titulo de la tarea"
    /></div>

  <div>
    <label for="description">Descriptcion:</label>
    <textarea
      name="description"
      placeholder="description"
      id="description"
    ></textarea></div>
    <button>add</button>

</form>